@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

